body {
    background-color: rgb(20, 20, 20);
}

.container {
    padding-left: 125px;
    padding-right: 125px;
    text-align: center;
    font-family: 'Alfa Slab One', cursive;
    color:white;
    flex-wrap: wrap;
}
.contheart {
    position: absolute;
    top: 65%;
    left: 45%;
    transform: translate(-50%, -50%);
    animation: flotar 2s infinite alternate;
}
.heart {
    height: 150px;
    width: 150px;
    background-color: red;
    position: relative;
    transform: rotate(45deg);
    box-shadow: -20px 20px 150px  #f20044;
    animation: luz 6s infinite alternate;
}
a {
    top: 38px;
    left: 10px;
    font-size: 50px;
    color: rgb(255, 0, 0);
    position: relative;
    text-decoration: none;
    font-family: 'Alfa Slab One', cursive;

}

@keyframes flotar {
    0% {transform: translate(0);}
    50% {transform: translate(-3);}
    100% {transform: translate(-2%, 2%);}
}
@keyframes luz {
    from {    box-shadow: none;}
    to {    box-shadow: 0px 0px 150px  #f20044;}
}

img {
    position: absolute;
    top: 65%;
    left: 45%;
    transform: translate(-50%, -50%);
    animation: flotar 2s infinite alternate;
}
